*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.top_blue_div{
    height: 15px;
    background-color: #AEE8FE;


}
.fixed_position_welcome_page{
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}
.topnav-wrapper{
    border-bottom: 1px solid #DDD4DD;
    background-color: #F8F5F8;


}

.topnav{
    display: flex;
    justify-content: space-between;

    margin-right: 5%;


}
.topnav-left{
    float: left;
}
.topnav-left img{
    position: absolute;
}
.topnav-right nav{
    width:100%;
    height: 80px;

}
.topnav-right nav ul{
    float:left;
    margin-bottom: 0px;


}

.topnav-right nav ul li{
    list-style: none;
    float:left;
    position:relative;

}
.topnav-right nav ul li a{
    display:block;
    float:left;
    padding:30px 14px;
    font-size:18px;
    text-decoration: none;
    color:black;

}
.topnav-right nav ul li ul{
    display: none;
    position:absolute;
    top:88px;
    background-color: #F8F5F8;
    margin-bottom: 0px;

}
.topnav-right nav ul li ul li a{
    padding:12px 14px;

}
.topnav-right nav a:hover{
    background-color: grey; 
}

.topnav-right nav ul li:hover ul{
    display: block;
}
#functional_links_welcomePage{
    margin-top: 120px;
}
#functional_links_welcomePage a {
    display: block;
    float: left;
    margin: 0 15px;
    color:black;
}
#book_appointment_area{
    margin:0 5%;
    margin-top: 40px;
    position: relative;
}
#book_appointment_area img{
    display: block; 
    width:100%;
    height: 600px;
    opacity: 0.7;
}
.book_appointment_field{
    position: absolute;
    bottom:100px;
    left:200px;
    
}
.book_appointment_btn{
    height:40px;
    width:250px;
    padding:0 10px;
    background-color: #017c83;
}
.clear{
    clear:both;
}