/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2022, 12:41:30 PM
    Author     : 832552
*/

.bg-img {
    background-image: url("img/img01.jpg");
    margin-top: 137px;
    min-height: 100px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img-h1{
    text-align: center;
    font-size: 40px;
    line-height: 230%;
}

.top_acount_nav {
    position: relative;
    width: 100%;
    z-index: 1;
    top:-34px;
    list-style: none; 
    float:left ;  

}
.b {
    border: solid 1px black;
 background-color: #017C83;
}
.container_form {
    max-width: 49%;
    margin-left: 28%;
    margin-top: 10%;

  

}

.row {
    border-radius: 15px;
 
    padding: 20px;

    height: 522px;
    position: absolute;
    top: 32%;
    width: 61%;
    left: 185px;
   
}
.textBox {
 border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}



.app_reason {
   margin: auto;
  width: 34%;


}

.continue {
   margin: auto;
  width: 34%;
}

.cancel {
   margin: auto;
  width: 34%;
}

.a{
     border: solid 1px black;
}
